body{
  background-image: url("../img/your buddie.png");
}

#body{
  margin-top: 5em;
}

footer{
  margin-right: 10%;
  background-color: #00000000 !important;
}

nav{
  background-color: #10083a;
}

#header{
  padding-top: 30px;
}

#chat-body{
  overflow-y: visible;
  overflow-x: hidden;
  max-height: 640px;
}
