/*----------FIGMA DESIGN CSS SNIPPETS------------
        background: linear-gradient(180deg, #271156 0%, rgba(34, 222, 177, 0.62) 100%);
        border-radius: 17px;

        /*Colour for name prompt: rgba(147, 141, 141, 0.5);
        BUDDIE text:
                    color: #FFF;
                    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
-------------------------------------------------*/


/********GENERAL STYLES***********/
/*********************************/
html {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    color: #FFF;
}

a {
	cursor: pointer;
}


